$color1: #514077;
$color2: #924992;
$color3: #ffad01;
$black: #111;
$white: #fff;
//Fuentes
//Oswald para los titulos
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
$font-title: "Oswald", sans-serif;

//Lato para los textos
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
$font-tex: "Lato", sans-serif;
$light: 300;
$normal: 400;

//breakpoints
$celular:480px;
$tablet:768px;
$computadora:1025px;
$x-large:1400px;
@mixin desde($size){
    @media screen and (min-width:$size){
      @content;
    }
  }

  @import "components/base";
  @import "components/texto";
  @import "components/header";
  @import "components/banner";
  @import "components/button";
  @import "components/services";
  @import "components/contacto";
  @import "components/footer"
