.main-header{
 

.header-container{
    background-color: $color1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 10%;
        margin-left: 5%;
    }
    .icon-menu{
        font-size: 180%;
        color: $white;
        margin-right: 5%;
    }
}
}