/* 
Float saca un elemento del flujo y lo envia a la derecha o la izquierda.el elemento siguiente lo envolvera de ser posible

float
    right
    left
    none
*/
[class^="img"]{
    float: right;
}
[class^="container"]{
    background-color: yellow;
    display: table;
    margin-bottom: 1em;
}
.container::before,.container::after{
    content: "";
    display: table;
    clear: both;
}

/* 
El contenedor de un elemento flotado deja de contenerlo.Para solucionarlo
    1.overflow:hidden
    2.display:table;
    3.cleafix:con un div vacio(no recomendado)
    4.clearfix con pseudoelementos
La propiedad clear se usa para que un elemento no reciba elementos flotados a sus lados

clear
    left
    right
    both
*/
.parrafo2{
    clear: right;
}