*{
    box-sizing: border-box;
}
@mixin desde($size){
@media screen and (min-width:$size){
    @content;
}
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.main{
    background: green;
    flex: auto;
    @include desde(640px){
       width: 75%;
        }
    &-container{
        flex: auto;
        @include desde(640px){
        display: flex;
        }
    }
    flex: auto;
    &-header{
        background: yellow;
        height: 120px;
    }
    &-nav{
        background-color: pink;
    }
    &-menu{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        list-style: none;
        @include desde(480px){
            display: flex;
            &__item{
                flex: auto;
                text-align:auto;
                line-height: 2.5;
            }
        }
    }
    &-aside{
        @extend .main;
        background-color: orange;
        @include desde(640px){
            width: 25%;
             }
    }
    &-footer{
        background: steelblue;
        @extend .main-header;
        background: steelblue;
        margin-top: auto;
    }
}